<div class="mainContent">
    <h2 class="title_tj">
        <p>文章<span>推荐</span></p>
    </h2>
    <div class="bloglist">
        <h3>程序员请放下你的技术情节，与你的同伴一起进步</h3>
        <figure><img src="images/ex03.png"></figure>
        <ul>
            <p>如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话， 那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展...</p>
        </ul>
        <div class="dateview"><a title="/" href="/" target="_blank" class="readmore">阅读全文>></a><span>2013-11-04</span><span>作者：杨青</span><span>个人博客：[<a href="/news/life/">程序人生</a>]</span></div>
        <h3>程序员请放下你的技术情节，与你的同伴一起进步</h3>
        <figure><img src="images/ex.jpg"></figure>
        <ul>
            <p>如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话， 那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展...</p>
        </ul>
        <div class="dateview"><a title="/" href="/" target="_blank" class="readmore">阅读全文>></a><span>2013-11-04</span><span>作者：杨青</span><span>个人博客：[<a href="/news/life/">程序人生</a>]</span></div>
        <h3>程序员请放下你的技术情节，与你的同伴一起进步</h3>
        <figure><img src="images/ex02.jpg"></figure>
        <ul>
            <p>如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话， 那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展...</p>
        </ul>
        <div class="dateview"><a title="/" href="/" target="_blank" class="readmore">阅读全文>></a><span>2013-11-04</span><span>作者：杨青</span><span>个人博客：[<a href="/news/life/">程序人生</a>]</span></div>
        <h3>程序员请放下你的技术情节，与你的同伴一起进步</h3>
        <figure><img src="images/ex03.png"></figure>
        <ul>
            <p>如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话， 那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展...</p>
        </ul>
        <div class="dateview"><a title="/" href="/" target="_blank" class="readmore">阅读全文>></a><span>2013-11-04</span><span>作者：杨青</span><span>个人博客：[<a href="/news/life/">程序人生</a>]</span></div>
    </div>
</div>